body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: black;
}

@media (max-width: 991px) {
    .body {
        font-size: 18px;
    }
}

/* Универнальые классы */
.none{
    display: none !important;
}

.visually-hidden {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0px;
    height: 0px;
    display: block;
    margin-left: -10000px;
    background: transparent;
    font-size: 0;
}

/* Сетка */

.container {
    width: 1370px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1399px) {
    .container {
        width: 100%;
    }
}

.container-wide {
    width: 1536px;
}

@media (max-width: 1535px) {
    .container-wide {
        width: 100%;
    }
}