.avatar {
    text-align: center;
}

.avatar-img {
    margin-bottom: 13px;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    object-fit: cover;
    background-color: rgba(168, 9, 9, 0.438);
}

.avatar-name {
    font-size: 12px;
}